* {
  margin: 0;
  bottom: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* App.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

.character {
  margin-top: 30px;
}

.character-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.character-card img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}

.quote {
  margin-top: 50px;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #d9534f;
  padding-left: 10px;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.8em;
}
